body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    margin: 32px;
}

.todos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
}

.todos .item {
    display: flex;
    border: 1px solid black;
    background-color: darkgrey;
    color: black;
    border-radius: 6px;
    min-width: 64px;
    max-height: 160px;
    justify-content: center;
    margin: 16px;
    padding: 32px;
    font-size: 16px;
    font-family: monospace, sans-serif;
}

.todos .item.done {
    background-color: greenyellow;
}

input {
    font-size: 24px;
    padding: 12px;
    align-self: center;
    width: 512px;
}